@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

header {
    min-height: 200px;
    background: #1A1A1A;
    border-bottom: 7px solid #C8AB37;
    box-shadow: 0px 0px 4px 0px black;
    padding-top: 10px;
}

body {
    background: #F9F9F9;
    font-family: 'Roboto Condensed', sans-serif;
    min-width: 400px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

#main-space {
    min-height: 300px;
}

footer {
    min-height: 300px;
    background: #1A1A1A;
    border-top: 7px solid #C8AB37;
    box-shadow: 0px 0px 4px 0px black;
}


#ico1 {
    height: 90px;
    width: auto;
}

.nav-t {
    height: 24px;
}

.bg-d,.bg-d1 {
    background: #1A1A1A;
    z-index: 2;
    transition: all 300ms ease-in-out;
}

.bg-d:hover {
    border-top: 2px solid #C8AB37;
    transition: all 300ms ease-in-out;
}
.bg-d1:hover {
    background: black;
    transition: all 300ms ease-in-out;
}

#acc,#acc2,#acc3 {
    height: 2px;
    border-radius: 50px;
    background: #C8AB37;
    position:relative;
    top: 26px;
    right: -5%;
    z-index: 1;
    width: 90%;
}

#acc3 {
    background: #1C2F3C !important;
    position:relative;
    top: -23px !important;
    right: 0% !important;
    z-index: 1;
    width: 100% !important;
}

.card-header {
    background: none;
    border-bottom: 2px solid #C8AB37;
}



.card {
    background: none;
    border: none
}



.white {
    color: #909090;
    transition: all 300ms ease;
}

.white:hover,.white:focus {
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
}

#pgs {
    background: #1A1A1A;
    z-index: 1;
}

#crd {
    background: black;
    border-radius: 50px;
    color: dimgrey;
    max-width: 500px;
    box-shadow: 0px 0px 4px 0px black; 
}

.rad {
    border-radius: 50px;
}

#fb,#fb-fp {
    background: #002255;
}

#twit {
    background: #006680;
}

#pin {
    background: #800000;
}

#yut {
    background: #800000;
}

#plus {
    background: #A02C2C;
}

#lin {
    background: #004455;
}

#fb,#fb-fp,#twit,#pin,#yut,#plus,#lin {
    color: white;
    box-shadow: 0px 0px 4px 0px black
}








