


#titl-post {
    min-height: 50px;
    background: #ED1D4D;
    border-top: 7px solid #BE1E2D;
    border-bottom: 7px solid #BE1E2D;
    
}

iframe {
    min-height: 226px;
    width:100%;
    height: 760px;
    background: #000000;
}

.pure {
    color: white;
}

#icon-post {
    width: 80px;
    height: 80px;
    background: #541E2D;
    border: 10px solid #BE1E2D;
    font-size: 30px;
    padding-left: 15px;
    padding-top: 5px;
}

.title-s {
    font-size: 30px;
}





.post-s {
    font-size: 20px;
}

.open {
    background: #1A1A1A;
}

.border-p {
    border-left: 5px solid #ED1D4D;
}

.color-p {
    color: #ED1D4D;
}



#no1 {
    background: #EB1E5D;
}

#head1 {
    height: 350px;
    background: url("/img/gangnam/head1_3.jpg") no-repeat center;
    background-size:cover;
}

.map-bdr {
    border-top: 4px dashed white;
    border-bottom: 4px dashed white;
}





#number1 {
    position: absolute;
    background: #EB1E5D;
    color: white;
    font-size: 34px;
    padding: 10px 15px;
    bottom: 0px;
    left: 10%;
}

#center-lbl {
    position: absolute;
    color: white;
    background: #EB1E5D;
    font-size: 28px;
    opacity: 0.8;
    padding: 15px;
    width: 150px;
    bottom: 30px;
    left: 20%
}

#frm-2 {
    background: #F2F2F2;
    color: #340E6D;
}



#head2 {
    min-height: 350px;
    background: url("/img/gangnam/head2_3.jpg") center bottom;
    background-size: cover;
}

#number2 {
    height: 30px;
    width: 66%;
    position: absolute;
    top: 30px;
    min-width: 400px;
}

#no2 {
    background:#5B5AA6;
    max-width: 80px;
}

#id2 {
    background: #442178;
    width: 370px;
}

#number3 {
    background: #374548;
    max-height: 140px;
}

#no3 {
    color: #374548;
    background: #FFCA27;
    width: 43px;
}

#id3 {
    color: #FFCA27;
    font-weight: 900;
}

#head3 {
    background: url("/img/gangnam/head3_3.jpg") no-repeat center;
    background-size: cover;
    height: 500px;
}

#3rd {
    background: #FFCA27;
}

#post3 {
    background: #FFCA27;
    color: #374548;
}

#post4 {
    color: #006680;
}

#no4 {
    background: #006680;
    height: 80px;
    width: 50px;
    font-weight: bolder;
    font-size: 40px;
    padding: 14px;
}

#id4 {
   background: #00B3CD;
    min-width: 200px;
    max-width: 400px;
}

#bg5 {
    background: #00B3CD;
    position: relative;
}

#titl4 {
    color: #00B3CD;
    background: white;
    border-radius: 50px;
    position: relative;
}

#spacing {
    
}

#head5 {
    background: url("/img/gangnam/head5_3.png") no-repeat left;
    background-size: auto;
    min-height: 180px;
    position: absolute;
    top: -2px;
    left: -28px;
    width: 330px;
    height: auto
}

#head6 {
    background: #EB1E5D;
}

#unt6 {
    background: #EB1E5D;
    border-radius: 50px;
    font-size: 18px;
    float:right;
    width:auto;
    padding-left: 15px;
    padding-right: 15px;
}

#post6 {
    color: #EB1B5B;
}

#bg7 {
    background: #1C2F3C;
    border-bottom: 10px dashed white;
}

#bgt7 {
    background: #00182E;
}

#id7 {
    background: #00B3CD;
}

#bgtest {
   background: #dddddd;
}

#titltest {
    background: #dddddd;
    z-index: 2;
}

#idtest {
    width: 80%;
}

#bgend {
    background: #00B3CD;
}

#titlend {
    font-size: 25px;
    font-weight: bold;
}



#bgal {
    background: #FFFFFF;
}

#img {
    
}

#img1 {
    background: url("/img/gangnam/content1_3.jpg") no-repeat center;
    background-size: cover;
    height: 350px;
    position: relative;
}

#id1 {
    position: absolute;
    color: white;
    font-size: 34px;
    padding: 10px 15px;
    bottom: 0px;
    left: 20%;
}

#aero {
    background: url("/img/gangnam/content2_3.jpg") no-repeat center;
    background-size: contain;
    height: 300px;
    position: relative;
}

#cont3 {
    background: url("/img/gangnam/content3_3.png") no-repeat center;
    background-size: contain;
    width: 100%;
    height: 150px;
}

#head4 {
    background: url("/img/gangnam/head4_3.jpg") no-repeat center;
    background-size: cover;
    min-height: 700px;
}

#cont5 {
    background: url("/img/gangnam/content5_3.png") no-repeat right;
    background-size: contain;
    height: 95px;
}

#ket5 {
    font-size: 25px;
}

#studio {
    background: url("/img/gangnam/content6-1_3.png") no-repeat center;
    background-size: contain;
    height: 270px;
}

#bd {
    background: url("/img/gangnam/content6-2_3.png") no-repeat center;
    background-size: contain;
    height: 270px;
}

#hotel {
    background: url("/img/gangnam/content6-3_3.png") no-repeat center;
    background-size: contain;
    height: 270px;
}


#spec-s {
    background: url("/img/gangnam/spec6-1_3.png");
}
#spec-bd {
    background: url("/img/gangnam/spec6-2_3.png");
}
#spec-h {
	background: url("/img/gangnam/spec6-3_3.png");
}

#spec-s,#spec-bd,#spec-h {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 100%;
    margin: auto;
    opacity: 0;
}

#spec-s:hover,#spec-bd:hover,#spec-h:hover {
    opacity: 1;
    transition: 300ms ease;
}


#head7 {
    background: url("/img/gangnam/head7_3.png") no-repeat top left;
    background-size: cover;
    height: 240px;
}

#cont7 {
    background: url("/img/gangnam/content7_3.png") no-repeat center;
    background-size: contain;
    height: 200px;
    width: 80%;
    max-width: 850px;
    margin: auto;
}

#carouselExampleIndicators {
    max-width: 700px;
    margin: auto;
}
#fb-gan {
    background: #002255;
}
#fb-gan:hover {
    background: #0044aa;
    transition: 300ms ease;
    cursor: pointer;
}
#twit-gan:hover {
    background: #0470a0;
    transition: 300ms ease;
    cursor: pointer;
}
#web-gan:hover {
    background: #db2153;
    transition: 300ms ease;
    cursor: pointer;
}
#web-gan {
    background: #D40055;
}
#twit-gan {
    background: #006680;
}

#fb-gan,#twit-gan,#web-gan {
    color: white;
    box-shadow: 0px 0px 4px 0px black
}



#badge {
    background: url("/img/head.png") no-repeat top left;
    background-size: contain;
    height: 60px;
    top: -5px;
    left: -20px;
}

#owner {
    background: url("/img/author.png") no-repeat top right;
    background-size: contain;
    height: 60px;
    top: -5px;
    right: -20px;
}
